.header {
  width: 100%;
  height: 40px;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  padding: 8px 24px;

  background: rgb(39, 63, 117);
  color: rgba(255, 255, 255, 0.85);

  .action-link {
    margin: 0 4px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.85);

    &:hover {
      cursor: pointer;
    }
  }
}
